.pn{
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
  margin-top: 20%;
  margin-left: 25%;
  width: 50%;
  position: absolute;
  top: -70px;
  left: 0px;
  z-index: 999;
}
.logbtn{
  margin-left: 25%;
  width: 50%;
  background-color: #5059a8;
  color: white;
}
.logbtn:hover{
  color: white;
}
#id{
  margin-top: 5px;
  margin-left: 25%;
  width: 50%;
}
#pw{
  margin-top: 5px;
  margin-left: 25%;
  width: 50%;
}
.st{
  font-weight: bold;
  margin-left: 26%;
}

.image_size{
    width:100%;
    height: auto;
}
.main_menu{
    width: 250px;
    height: 250px;
    margin: 0 -280px 0 5%;
}
#main_menu_div{
    width: 800px;
    height: 250px;
    /*clear:left;
    float:left;
    left:0;
    bottom:0px;
    position: relative;
    margin: 17% -300px 0 5%;
    visibility: hidden;*/

    position:fixed;
    clear:left;
    float:left;
    bottom: 10%;
    margin: 17% -300px 0 5%;
    visibility: hidden;
}
#main_btn{
    /*width: 70px;
    height: 70px;
    position: absolute;
    display:block;
    clear:left;
    float:left;
    left:0;
    bottom:0px;
    margin: 0 0 5% 4%;*/

    width: 70px;
    height: 70px;
    position: fixed;
    display: inline-block;
    bottom:5%;
    right: 90%;
    z-index: 998;
}

#film_roll{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.film_roll_wrapper{
    height:100% !important;
}
.film_roll_child{
    /*padding: 40px !important;*/
    /*opacity: 0.3;*/
}
.film_roll_child.active{
    opacity: 1;
}
.film_roll_pager a{
    padding:10px;
}
.film_roll_pager{
    padding-left:0;
    padding-right: 0;
    margin-top:-40px;
    z-index: 100;
    position: absolute;
    left: calc(50% - 585px);
}
.film_roll_pager a{
    background: rgba(254,254,254,0.8);
    color:#333;
    box-sizing: border-box !important;
}
.film_roll_pager a.active, .film_roll_pager a:hover{
    background: #6069c8 !important;
    color:#fff;
}

.main_service_image{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.top{
    position: fixed;
    display: inline-block;
    bottom:5%;
    left: 90%;
}
.main_top{
  width: 70px;
  height: 70px;
}
